body{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
   border: 1px solid lightgray;
   border-radius: 16px;
   
   margin: 10px auto;
   width: 400px;
}
.card-img-holder {
   width: 100%;
   position: relative;
   padding: 10px;
   box-sizing: border-box;
}
.card-img {
   width: 100%;
   border-radius: 11px;
}
.promotion {
   font-size: 12px;
   font-weight: 600;
   position: absolute;
   top: 18px;
   color: aliceblue;
   background: #c1c1c1a3;
   margin: 0px 0px 0px 7px;
   padding: 1px 15px;
   border-radius: 2px;
}
.offers {
   position: absolute;
   bottom: 24px;
   font-size: 12px;
   font-weight: 500;
   margin: 0px 0px 0px 0px;
   padding: 1px 10px;
   color: aliceblue;
   background: #2196F3;
}
.est-time {
   position: absolute;
   font-size: 13px;
   font-weight: 600;
   bottom: 24px;
   right: 15px;
   color: black;
   background: #ffffffd4;
   padding: 0px 3px;
   border: 0.5px solid #666666;
   border-radius: 3px;
}
.card-body{
   position: relative;
   width: 100%;
   padding: 10px;
}
.card-head {
   font-size: 25px;
   font-weight: 400;
   margin: 3px 0px 16px 0px;
}
.card-para{
   color: #666666;
}
.card-footer {
   width: 100%;
   padding: 10px;
   box-sizing: border-box;
   border-top: 1px solid lightgray;
}
.card-footer>p {
   font-size: 12px;
   color: #666666;
}
